data/**
models/**
!data/**/
!models/**/
!data/**/.gitkeep
!models/**/.gitkeep
!data/**/*.dvc
.env
__pycache__/
*.pyc
.venv*/
mlruns/
*.csv
*png
*.parquet
*.log
lightning_logs*/
.ipynb_checkpoints/
*.ckpt
Untitled*
mlflow.db
